################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/ChessWeb.Api/obj
/ChessWeb.Api/bin
/.vs
